@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

body {
  background-color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  justify-content: space-between;
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #f1356d;
}
.navbar .create-blog {
  background-color: #f1356d;
}

.navbar .create-blog:hover {
  background-color: #e82f66;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* comment */
h2.comment-heading {
  color: #f1356d;
  margin-bottom: 32px;
}

.comment-preview,
.blog-preview {
  padding: 20px 15px;
  margin: 40px 0;
}

.comment-preview:hover,
.blog-preview:hover {
  background-color: #242424;
}

.comment-preview h2,
.blog-preview h2 {
  color: #f1356d;
}

.comment-preview p,
.blog-preview p {
  color: #fff;
  margin: 10px 0;
}

.home .loading {
  color: #fff;
  text-align: center;
  font-size: xx-large;
}

.tag {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.tag .commentar {
  color: #fff;
  text-decoration: none;
  background-color: #333;
  padding: 15px 20px;
}

.tag .commentar:hover {
  background-color: rgb(38, 38, 38);
  border-radius: 20px;
}

.tag .user {
  color: #fff;
  text-decoration: none;
  background-color: #333;
  padding: 15px 20px;
}

.tag .user:hover {
  background-color: rgb(38, 38, 38);
  border-radius: 20px;
}

.comment-preview .link {
  color: #fff;
}

/* crete blog */
.form-create-blog {
  text-align: center;
  
}
.form-create-blog .heading h1{
  color: #fff;
}
.form-create-blog .form {
  margin-top: 40px; 
  text-align: left;
}
.form-create-blog .section {
  display: flex;
  flex-direction: column;
  margin: 35px 0;
}
.form-create-blog label {
  color:  #fff;
  margin-bottom: 12px;
  font-size: 1.1rem;
}

.form-create-blog input {
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  padding: 0 10px;
  font-size: 1.1rem;
  background-color: rgb(85, 85, 85);
  color: #fff;
}

.form-create-blog textarea {
  
  border-radius: 4px;
  outline: none;
  border: none;
  padding: 10px 10px;
  font-size: 1.1rem;
  background-color: rgb(85, 85, 85);
  color: #fff;
}

.form-create-blog select, option {
  border-radius: 4px;
  outline: none;
  border: none;
  padding: 10px 10px;
  font-size: 1.1rem;
  background-color: rgb(85, 85, 85);
  color: #fff;
}

.form-create-blog .section button {
  background-color: #ed4074;
  border: 0;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1.1rem;
  outline: none;
}

.form-create-blog .section button:hover {
  background-color: #e82f66;
  cursor: pointer;
}

.form-create-blog .section button.disable{
  background-color: #d4275b;
}